[Unit]
Description=Authentik Worker
Requires=postgres.container db.network
After=postgres.container db.network

[Container]
Image=ghcr.io/goauthentik/server:2025.10.3
Exec=worker

EnvironmentFile=./authentik.env

Network=db

# Volume=authentik-media:/media
# Volume=authentik-certs:/certs
# Volume=authentik-templates:/templates

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
